.mensagemCustom {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 60px !important;
    /* font-size: .8em; */
}

thead {
    font-size: .8em;
}

td{
    font-size: .8em;
}
.mensagemCustom:hover {
    width: auto;
    white-space: normal;
}

.input {
    width: 10px;
    height: 10px;
    padding: 8px;
    margin-right: 5px;
    position: relative;
}

.bi-check {
    position: absolute;
    top: -5px;
    left: 0;
} 

label {
    display: flex;
    justify-content: start;
    align-items: center;
}

.msgAviso {
    position: relative;
    margin: 5px 0;
}

.msgAviso span {
    background-color: yellow;
    padding: 0 2px;
}

.msgAviso:hover::before {
    content: "Para que sua mensagem seja enviada com sucesso, escreva o nome para o qual as mensagens serão enviadas (pessoa ou grupo) exatamente como aparece no WhatsApp.";
    position: absolute;
    width: auto;
    padding: 2px;
    top: 40px;
    left: 0;
    background-color: grey;
    color: white;
    border-radius: 5px;
}

.listIcones{
    list-style: none;
}

.listIcones{
    margin-top: 15px !important;
}

.larguraTela{
    max-width: calc(100%/5);
}

td{
    width: calc(100%/5);
}

::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 5px;
}


::-webkit-scrollbar-track {
    background-color: transparent;
}

.btnEmoji{
    position: absolute;
    right: 55px;
    top: 45px;
    z-index: 1;
}

.cxFuctions{
    position: fixed;
    bottom: 40px;
    left: 20px;
    z-index: 1;
    width: 38px;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: grey;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.cxFuctionsAtivo{
    transform: scaleY(4);
    border-radius: 0;
    bottom: 80px;
}
